body {
    background-color: #9250B1;
}

  .ImgLocal {
    width: 1920px;
    height: 1080px;
    top: 147px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }

  .UI-TOPO {
    position: absolute;
    width: 1922px;
    height: 166px;
    top: 0;
    left: 3px;
  }

  .ABA_TOP {
    position: relative;
    width: 1920px;
    height: 166px;
    background-color: #8754d4;
    border-radius: 23px;
  }

  .ABA_TOP .TitlePos {
    position: absolute;
    height: 20px;
    top: 65px;
    left: 107px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
    letter-spacing: -0.64px;
    line-height: 20px;
    white-space: nowrap;
  }

  .ABA_TOP .TitlePos .Title_4 {
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: -0.64px;
    line-height: 20px;
  }

  .ABA_TOP .TitlePos .Title_Fun {
    font-size: 40px;
    letter-spacing: -0.4px;
  }

  .ABA_TOP .line1 {
    width: 1px; /* Largura da linha vertical */
    height: 100px; /* Altura da linha vertical */
    background-color: #000; /* Cor da linha, você pode alterar para a cor desejada */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
  }

  .ABA_TOP .line2 {
width: 1px; /* Largura da linha vertical */
    height: 100px; /* Altura da linha vertical */
    background-color: #000; /* Cor da linha, você pode alterar para a cor desejada */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
  }

  .overlap-2 {
    position: absolute;
    width: 193px;
    height: 90px;
    top: 41px;
    left: 1670px;
  }

  .line-2 {
    position: absolute;
    width: 1px;
    height: 90px;
    top: 0;
    left: 190px;
    object-fit: cover;
  }

  .BT_AGENDA {
    width: 193px;
    top: 26px;
    position: absolute;
    height: px;
    left: 0;
  }

  .text-wrapper-2 {
    width: 191px;
    top: 0;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.36px;
    line-height: 20px;
    position: absolute;
    height: 39px;
    left: 0;
  }

  .line-3 {
    position: absolute;
    width: 1px;
    height: 90px;
    top: 41px;
    left: 1658px;
    object-fit: cover;
  }

  .BT_CADASTRAR {
    width: 241px;
    top: 67px;
    left: 1220px;
    position: absolute;
    height: 39px;
  }

  .Cadastrar {
    width: 239px;
    top: 0;
    left: 0;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.36px;
    line-height: 20px;
    position: absolute;
    height: 39px;
  }

  .BT_ENTRAR {
    width: 157px;
    top: 67px;
    left: 1487px;
    position: absolute;
    height: 39px;
  }

  .text-wrapper-4 {
    width: 155px;
    top: 0;
    left: 0;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.36px;
    line-height: 20px;
    position: absolute;
    height: 39px;
  }

  .SobreFix {
    position: absolute;
    width: 1857px;
    height: 441px;
    top: 1422px;
    left: 34px;
  }

  .SobreFix .SobreBox {
    position: absolute;
    width: 1857px;
    height: 424px;
    top: 17px;
    left: 0;
    background-color: #f486f6;
    border-radius: 37px;
    box-shadow: 9px 9px 18px 11px #00000040;
  }

  .SobreFix .SobreTxt {
    position: absolute;
    width: 1777px;
    height: 309px;
    top: 100px;
    left: 76px;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: -0.4px;
    line-height: 51.5px;
  }

  .SobreFix .SobreTitle {
    position: absolute;
    width: 347px;
    height: 117px;
    top: 0;
    left: 0;
    font-family: "Ubuntu-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 170px;
  }

  .TitleSobImg {
    height: 20px;
    top: 1266px;
    left: 851px;
    text-shadow: 0px 4px 4px #00000040;
    font-size: 48px;
    letter-spacing: -0.48px;
    line-height: 20px;
    position: absolute;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
  }

  .TitleSobImg .Title-4 {
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: -0.48px;
    line-height: 20px;
  }

  .DiversaoFix .DiversaoTxt {
    position: absolute;
    width: 749px;
    height: 456px;
    top: 2127px;
    left: 1080px;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 56.5px;
  }

  .DiversaoFix .DiversaoTitle {
    position: absolute;
    width: 347px;
    height: 117px;
    top: 1982px;
    left: 1281px;
    font-family: "Ubuntu-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 20px;
  }

  .line-4 {
    position: absolute;
    width: 4px;
    height: 716px;
    top: 1998px;
    left: 963px;
  }

  .line-5 {
    position: absolute;
    width: 4px;
    height: 786px;
    top: 2876px;
    left: 960px;
  }

  .PLAYGROUND {
    width: 899px;
    height: 659px;
    top: 2036px;
    left: 39px;
    position: absolute;
    object-fit: cover;
  }

  .COMIDA {
    width: 899px;
    height: 659px;
    top: 2949px;
    left: 1014px;
    position: absolute;
    object-fit: cover;
  }

  .MenuFix {
    position: absolute;
    width: 841px;
    height: 668px;
    top: 2906px;
    left: 61px;
  }

  .MenuFix .MenuTitle {
    position: absolute;
    width: 157px;
    height: 94px;
    top: 0;
    left: 342px;
    font-family: "Viga-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 20px;
  }

  .MenuFix .MenuTxt {
    position: absolute;
    width: 841px;
    height: 581px;
    top: 87px;
    left: 0;
    font-family: "Viga-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 46.5px;
  }

  .ContatoFix {
    position: absolute;
    width: 979px;
    height: 464px;
    top: 5044px;
    left: 246px;
  }

  .ContatoFix .Contato {
    position: absolute;
    width: 264px;
    height: 92px;
    top: 0;
    left: 582px;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: 56.5px;
  }

  .ContatoFix .Tel {
    position: absolute;
    width: 190px;
    height: 53px;
    top: 107px;
    left: 619px;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 56.5px;
    white-space: nowrap;
  }

  .ContatoFix .TelNum {
    width: 167px;
    height: 45px;
    top: 182px;
    left: 670px;
    position: absolute;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 56.5px;
    white-space: nowrap;
  }

  .ContatoFix .TelIcon {
    width: 44px;
    height: 44px;
    top: 184px;
    left: 619px;
    position: absolute;
    object-fit: cover;
  }

  .ContatoFix .TelIcon2 {
    width: 44px;
    height: 44px;
    top: 251px;
    left: 619px;
    position: absolute;
    object-fit: cover;
  }

  .ContatoFix .TelNum2 {
    width: 159px;
    height: 54px;
    top: 246px;
    left: 674px;
    position: absolute;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 56.5px;
    white-space: nowrap;
  }

  .ContatoFix .Email {
    position: absolute;
    width: 152px;
    height: 34px;
    top: 349px;
    left: 638px;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 56.5px;
    white-space: nowrap;
  }

  .ContatoFix .Mail {
    width: 498px;
    height: 53px;
    top: 411px;
    left: 465px;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 56.5px;
    position: absolute;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
  }

  .ContatoFix .Endereco {
    position: absolute;
    width: 207px;
    height: 36px;
    top: 123px;
    left: 132px;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 56.5px;
    white-space: nowrap;
  }

  .ContatoFix .End {
    position: absolute;
    width: 472px;
    height: 89px;
    top: 226px;
    left: 0;
    font-family: "Ubuntu-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 56.5px;
  }
